@namespace projetIa.Composants.NavBar

<nav>
    <div class="gauche">
        <img src="/Images/goutte.png" alt="la goutte du futur">
        <p>GenSense</p>
    </div>
    <div class="centre">
        <img src="/Images/enderEye.gif" alt="logo_iut">
    </div>
    <div class="droite">
        <img src="/Images/logo_iut.png" alt="logo_iut">
    </div>
</nav>
