
<footer>
    <div class="gauche">
        <p>Réalisé par : Antoine Pinagot, Jean Marcillac</p>
    </div>
    <div class="centre">
        <img src="/Images/trefle.png" alt="logo_iut">
    </div>
    <div class="droite">
        <p>Enseignant : M. Falih Issam</p>
    </div>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 10vh;
        margin-top: 10rem;
        box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.7);
    }

    .gauche {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .centre {
        display: flex;
        align-items: center;
        width: 20%;
    }

    .droite {
        display: flex;
        align-items: center;
        width: 30%;
    }

    p {
        color: white;
        margin: 0%;
    }

    .gauche, .droite, .centre {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .gauche {
        justify-content: flex-start;
        padding-left: 3rem;
    }

    .droite {
        justify-content: flex-end;
        padding-right: 3rem;
    }

    .gauche p {
        font-size: 1rem;
        font-family: Candera;
    }

    .centre img {
        height: 70%;
        width: auto;
    }

</style>