
<footer>
    <div class="gauche">
        <p>Réalisé par : Antoine Pinagot, Jean Marcillac</p>
    </div>
    <div class="centre">
        <img src="/Images/trefle.png" alt="logo_iut">
    </div>
    <div class="droite">
        <p>Enseignant : M. Falih Issam</p>
    </div>
</footer>
